@page
@model TaskManagementConsoleModel
@{
    ViewData["Title"] = "Task Manager";
}

    <div class="container">
        <h2>Task Manager</h2>
        <form method="get">
            <div class="form-group">
                <input type="search" class="form-control" asp-for="searchTerm" value="" />
                <a class="input-group-btn" asp-route="./ProductTasks/@Model.searchTerm">
                    <button class="btn btn-dark">
                        <span>Search By Name</span><i class="carousel-control-next-icon"></i>
                    </button>
                </a>
            </div>
        </form>
        <table class="table">
            <thead>
                <td>Id</td>
                <td>Product Name</td>
                <td>Category</td>
            </thead>
            @foreach (var product in Model.products)
            {
        <tr>
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td>@product.Product_Category</td>
            <td>
                <a class="btn btn-dark" asp-page="./ProductTasks" asp-route-id="@product.Id">Get tasks</a>
                <i class="carousel-control-next-icon"></i>
            </td>
        </tr>
            }
        </table>
    </div>
